{% extends 'ht1/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}

<div class="container-fluid">
	<div class="row">
		<div class="card col-md-6 mx-3 mt-3" id="playing">
			<div class="row">
				<img src="{{movie.album.url}}" style="width: 440px;height: 440px;" class="mt-4 img-fluid rounded shadow-lg mx-auto">
			</div>
				<div class="text-center">
					<h4>{{song.songname}}</h4>
				</div>
			<div class="row">
				<div class="container text-center">
					{% if song not in favlist %}
						<a href="{% url 'addFavourites' song.id %}" id="hearts">
							<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-heart" viewBox="0 0 16 16" id="symbol">
							  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
							</svg>
						</a>
						{% else %}
						<a href="{% url 'removeFavourites' song.id %}" id="hearts">
							<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16" id="symbol">
							  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
							</svg>
						</a>
						{% endif %}
				<audio controls autoplay loop class="form-control bg-info" id="myAudio">
					<source src="{{song.song.url}}" type="audio/mpeg">
				</audio><br>

				<a href="{% url 'prevsong' song.id movie.id %}">
					<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="black" class="bi bi-skip-start-circle-fill" viewBox="0 0 16 16">
					  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM9.71 5.093 7 7.028V5.5a.5.5 0 0 0-1 0v5a.5.5 0 0 0 1 0V8.972l2.71 1.935a.5.5 0 0 0 .79-.407v-5a.5.5 0 0 0-.79-.407z"/>
					</svg>
				</a>

				<span onclick="playAudio()" id="playicon">
					<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="black" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
					  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
					</svg>
				</span>

				<span onclick="pauseAudio()" id="pauseicon">
					<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="black" class="bi bi-pause-circle-fill" viewBox="0 0 16 16">
					  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z"/>
					</svg>
				</span>

				<a href="{% url 'nextsong' song.id movie.id %}">
					<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="black" class="bi bi-skip-end-circle-fill" viewBox="0 0 16 16">
					  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407L9.5 8.972V10.5a.5.5 0 0 0 1 0v-5a.5.5 0 0 0-1 0v1.528L6.79 5.093z"/>
					</svg>
				</a>
				
			</div>
		</div>
	</div>

		<div class="col-md-5 mx-3 shadow-lg mt-3 h-100">
			<div class="bg-info text-center p-2" id="flip" style="font-size:25px; font-weight: 600; font-family: Arial Black;">{{movie.moviename}}</div>
				<div id="panel">
				<table class="table table-borderless table-hover bg-dark text-light">
					{% for i in all %}
						<tr>
							<td>
								<a href="{% url 'playsong' i.id movie.id %}" class="mx-2"><span class="badge badge-info text-center" style="vertical-align: middle;font-size: 15px; width:250px;">{{i.songname}}</span></a>
								<img src="{{movie.album.url}}" class="img rounded" width="40px" height="40px">
							</td>
							<td>
								<a href="{% url 'playsong' i.id movie.id %}" class="btn btn-success mx-2">Play</a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>

<script>
    var x = document.getElementById("myAudio"); 
    $(document).ready(function(){
    	$("#playicon").hide()
    });
    
    function playAudio() { 
      x.play(); 
    } 

    function pauseAudio() { 
      x.pause(); 
    } 
</script>


{% endblock %}